<head>
    <title>Post Not Found</title>
</head>

<body>
    <div>
        <br>
        <h3>🤔Could not find Post #<%= id %> !</h3>
        <h6>Please check the spelling of Post id and then try again!</h6>
        <button class="btn btn-outline-secondary" type="button" onclick="window.history.back()">Back</button>

    </div>
</body>