<head>
    <title>Make a post</title>
    <style>
        .container {
            padding-top: 10px;
        }

        .fa-plus {
            float: right;
        }

        .fa-minus {
            float: right;
        }

        #minusInput {
            display: none;
        }

        .btn:focus {
            outline: none;
            box-shadow: none;
        }

        .text-custom-create {
            font: bold 48px "Amatic SC", sans-serif;
            color: rgb(255, 255, 100);
            text-shadow: 2px 1px rgba(0, 0, 0, 0.527);
        }
    </style>

</head>

<body>


    <div class="container">
        <h3 class="text-custom-create"><b>Create new post</b></h3>
        <form method="POST" action="/post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label><b>Post Title</b></label>
                    <input type="text" class="form-control" name="title" maxlength="30" required>
                </div>

                <div class="form-group col-md-3">
                    <label><b>Category</b></label>
                    <select class="form-control" name="cat" id="cat" required>
                        <option value="" selected disabled>Please select one</option>
                        <option value="Food&Drink">Food&Drink</option>
                        <option value="Electronic">Electronic</option>
                        <option value="Colthing">Colthing</option>
                        <option value="Necessity">Necessity</option>
                        <option value="any">Any</option>
                    </select>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label><b>Description</b></label>
                    <textarea rows="5" id="description" name="description" class="form-control" maxlength="100"
                        required></textarea>
                </div>
            </div>



            <div class="form-row">
                <div class="form-group col-md-2">
                    <label><b>Member limit</b></label>
                    <input type="number" class="form-control" name="memberLimit" min=2 max=100 required>
                </div>

                <div class="form-group col-md-2">
                    <label><b>Discount Type</b></label>
                    <select class="form-control" name="dType" id="dType" required onchange="display(this.value)">
                        <option value="" selected disabled>Please select one</option>
                        <option value="BuyXgetYfree">Buy X get Y free</option>
                        <option value="Percentage">Percentage</option>
                        <option value="PromoCode">Promo Code</option>
                        <option value="CashBack">Cash Back</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <!-- hidden input -->
                <div class="form-group col-md-1" id="x" style="display: none;">
                    <label><b>X:</b></label>
                    <input type="number" class="form-control" name="x" min="1" id="inputX">
                </div>
                <div class="form-group col-md-1" id="y" style="display: none;">
                    <label><b>Y:</b></label>
                    <input type="number" class="form-control" name="y" min="1" id="inputY">
                </div>
                <div class="form-group col-md-2" id="precentage" style="display: none;">
                    <label><b>Precentage:</b></label>
                    <input type="number" class="form-control" name="precentage" min="1" max="100" id="inputPrecentage">
                </div>
                <div class="form-group col-md-2" id="spend" style="display: none;">
                    <label><b>Spend:</b></label>
                    <input type="number" class="form-control" name="spend" min="1" id="inputSpend">
                </div>
                <div class="form-group col-md-2" id="cash" style="display: none;">
                    <label><b>Cash Back:</b></label>
                    <input type="number" class="form-control" name="cash" min="1" id="inputCash">
                </div>
                <div class="form-group col-md-2" id="other" style="display: none;">
                    <label><b>Please specify:</b></label>
                    <input type="text" class="form-control" name="other" id="inputOther">
                </div>

                <!-- hidden input -->

                <div class="form-group col-md-2">
                    <label><b>Discount Rate</b></label>
                    <input class="form-control" id="Drate" name="Drate" readonly>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label><b>Upload Image URL</b></label>
                    <input type="url" class="form-control" name="imgInput" id="imgInput" required>
                </div>

                <div class="form-group col-md-4">
                    <label><b>Attribution(s)</b></label>
                    <button id="addInput" class="btn btn-info tooltip-top" data-tooltip="Add additional attribution"
                        type="button" onclick="AddExtraInput()"><i class="fa fa-plus"></i></button>
                    <button id="minusInput" class="btn btn-danger tooltip-top"
                        data-tooltip="Reduce additional attribution"" type="button" onclick="MinusExtraInput()"><i
                            class="fa fa-minus"></i></button>
                    <input type="url" class="form-control" name="attribution" required>

                    <input type="url" class="form-control" name="attribution2" id="attribution2" hidden>
                    <input type="url" class="form-control" name="attribution3" id="attribution3" hidden>
                    <input type="url" class="form-control" name="attribution4" id="attribution4" hidden>
                    <input type="url" class="form-control" name="attribution5" id="attribution5" hidden>
                </div>
            </div>
            <p><small>don't know how to convert the image to url? refer to this website: <a
                        href="https://www.linkpicture.com/" target="_blank"
                        style="color: blue;">https://www.linkpicture.com/</a></small>
                <small>remeber to chose "Direct Link To Photo" option</small>
            </p>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label><b>Payment Method</b></label>
                    <select class="form-control" name="method" id="method" required>
                        <option value="" selected disabled>Please select one</option>
                        <option value="FPS">FPS</option>
                        <option value="E-payment">E-payment</option>
                        <option value="Cash">Cash</option>
                        <option value="all">Accept all</option>
                    </select>
                </div>
            </div>


            <br>
            <div>
                <% if(req.session.memberid){ %>
                    <button class="btn btn-outline-success" type="submit">Create post</button>
                    <% }else{ %>
                        <a class="btn btn-primary" href="/login">Login</a> or <a href="/signup">signup a new account</a>
                        to create a post.
                        <% } %>
            </div>

            <small>
                <b>**IMPORTANT**</b> Please make sure the information that you provided is correct. Suspicious malicious
                behavior may cause
                credit score deduction of your account. Low credit score may lead to account restriction. For details,
                please check out our <a href="/terms" style="color: blue;">policies and terms.</a>
            </small>

        </form>
    </div>
    <br><br>

</body>

<script>
    var inputOffset = 1;
    function AddExtraInput() {

        if (inputOffset == 1) {
            var attr2 = document.getElementById("attribution2");
            attr2.hidden = false;
            attr2.required = true;
            inputOffset++;
            document.getElementById("minusInput").style.display = "inline";
        } else if (inputOffset == 2) {
            var attr3 = document.getElementById("attribution3");
            attr3.hidden = false;
            attr3.required = true;
            inputOffset++;
        } else if (inputOffset == 3) {
            var attr4 = document.getElementById("attribution4");
            attr4.hidden = false;
            attr4.required = true;
            inputOffset++;
        } else if (inputOffset == 4) {
            var attr5 = document.getElementById("attribution5");
            attr5.hidden = false;
            attr5.required = true;
            inputOffset++;
            // input offset > input fields (5)
            // hide the add button
            document.getElementById("addInput").style.display = "none";
        }

    }

    function MinusExtraInput() {
        if (inputOffset == 2) {
            document.getElementById("minusInput").style.display = "none";
            var attr2 = document.getElementById("attribution2");
            attr2.hidden = true;
            attr2.required = false;
            inputOffset--;
        } else if (inputOffset == 3) {
            var attr3 = document.getElementById("attribution3");
            attr3.hidden = true;
            attr3.required = false;
            inputOffset--;
        } else if (inputOffset == 4) {
            var attr4 = document.getElementById("attribution4");
            attr4.hidden = true;
            attr4.required = false;
            inputOffset--;
        } else if (inputOffset == 5) {
            var attr5 = document.getElementById("attribution5");
            attr5.hidden = true;
            attr5.required = false;
            inputOffset--;
            document.getElementById("addInput").style.display = "inline";
        }
    }

    function ShowFileName() {
        var imgInput = document.getElementById("imgInput");
        var filenameDisplay = document.getElementById("filenameDisplay");

        filenameDisplay.innerHTML = "";
        filenameDisplay.innerHTML += "Selected: " + imgInput.files[0].name;
    }

    function display(x) {
        if (x == "BuyXgetYfree") {
            displayBuyXgetYfree();

            // hide other stuff
            hideCashBack();
            hidePercentage();
            hideOther();
        }
        if (x == "Percentage") {
            displayPercentage();

            // hide other stuff
            hideBuyXgetYfree();
            hideCashBack();
            hideOther();
        }
        if (x == "CashBack") {
            displayCashBack();

            // hide other stuff
            hideBuyXgetYfree();
            hidePercentage();
            hideOther();
        }
        if (x == "Other") {
            displayOther();

            // hide other stuff
            hideBuyXgetYfree();
            hideCashBack();
            hidePercentage();
        }
        if (x == "PromoCode") {
            // hide other stuff
            hideBuyXgetYfree();
            hideCashBack();
            hidePercentage();
            hideOther();
        }
    }

    function displayBuyXgetYfree() {
        document.getElementById('x').style.display = "inline";
        document.getElementById('y').style.display = "inline";

        document.getElementById('inputX').required = true;
        document.getElementById('inputY').required = true;
    }
    function hideBuyXgetYfree() {
        document.getElementById('x').style.display = "none";
        document.getElementById('y').style.display = "none";

        document.getElementById('inputX').required = false;
        document.getElementById('inputY').required = false;
    }

    function displayPercentage() {
        document.getElementById('precentage').style.display = "inline";
        document.getElementById('inputPrecentage').required = true;
    }
    function hidePercentage() {
        document.getElementById('precentage').style.display = "none";
        document.getElementById('inputPrecentage').required = false;
    }

    function displayCashBack() {
        document.getElementById('spend').style.display = "inline";
        document.getElementById('cash').style.display = "inline";

        document.getElementById('inputSpend').required = true;
        document.getElementById('inputCash').required = true;
    }
    function hideCashBack() {
        document.getElementById('spend').style.display = "none";
        document.getElementById('cash').style.display = "none";

        document.getElementById('inputSpend').required = false;
        document.getElementById('inputCash').required = false;
    }

    function displayOther() {
        document.getElementById('other').style.display = "inline";
        document.getElementById('inputOther').required = true;
    }
    function hideOther() {
        document.getElementById('other').style.display = "none";
        document.getElementById('inputOther').required = false;
    }


</script>