<p>Dear <%= name %>,</p>
<br />
<p>The post you current joined is full of members! Deal with your buddies as soon as possible!</p>
<p>Post Title: <b><%= title %></b>, hosted by <b><%= host %></b></p>
<p><small><%= date %></small></p>
<a href="http://happyshare2022.herokuapp.com/login">Click this link to login to HappyShare:)</a>

<br />
<br />
<hr>
<p>
    <small>
        <b>**Do not reply to this email address. This message is primarily serve the purpose of notification only.</b>
    </small>
</p>