<head>
    <title>Log In</title>
    <style>
        .container {
            padding-top: 20px;
        }
    </style>

</head>

<body>


    <div class="container">
        <h3>Log In to your account</h3>
        <form method="POST" action="/login">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label><b>Username</b></label>
                    <input type="string" class="form-control" value="<%= username %>" name="username" required>
                </div>

            </div>

            <p id="infoText" style="color: #ff3030;">

            </p>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label><b>Password</b></label>
                    <input type="string" class="form-control" name="password" required>
                </div>

            </div>

            <div>
                <button class="btn btn-outline-success" type="submit">Login</button>
            </div>

            <small>
                <a href="/signup">Don't have an account yet? create an account here</a>

            </small>

        </form>
    </div>

</body>

<script>
    var status = "<%= status %>";
    if (status) {
        if (status == "incorrectPW") {
            var username = "<%= username %>";
            var infoText = document.getElementById("infoText");
            infoText.innerHTML = "";
            infoText.innerHTML += "🧐Incorrect password for user \"" + username + "\", " +
                "<a href=\"/forgotPassword\">forgot your password?</a>";

        } else if (status == "UserNotExisit") {
            var username = "<%= username %>";
            var infoText = document.getElementById("infoText");
            infoText.innerHTML = "";
            infoText.innerHTML += "⚠️No such user \"" + username + "\" !";
        } else if (status == "CreatedNewAC") {
            alert("Your account has been created, login with your password~");
            this.window.location += "#success";
        } else {
            alert("Unknown status: " + status + " !");
        }
    }
</script>