<head>
    <title>
        Terms & Condition
    </title>
    <style>
        .termsContainer {
            padding-top: 30px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
    <div class="termsContainer">


        <h2><b>Terms and conditions</b></h2>
        <hr>
        <small>
            <b>**IMPORTANT: Using the Happy Share application means you agree with our terms and conditions and understand the
                consequences and responsibilities if you violate the terms.</b>
        </small>
        <hr>
        <p>These Terms and Conditions reflect the way Happy Share's business works, the laws that apply to our company,
            and
            certain things we’ve always believed to be true. As a result, these Terms and Conditions help define Happy
            Share's
            relationship with you as you interact with our services. For example, these terms include the following
            topic headings:
        <ul>
            <li>&bull; <a href="#disclaimer">Disclaimer</a></li>
            <li>&bull; <a href="#corrections">Corrections</a></li>
            <li>&bull; <a href="#term&terminations">Term and Terminations</a></li>
            <li>&bull; <a href="#ProhibitedActivity">Prohibited Activities</a></li>
            <li>&bull; <a href="#modification&interruption">Modifications and Interruptions</a></li>
            <li>&bull; <a href="#privacyPolicy">Privacy Policy</a></li>
        </ul>
        </p>
        <hr>

        <h3 id="disclaimer">Disclaimer</h3>
        <p>The posts and post's detail are all provided by those of the authors. They do not purport to reflect the
            opinions or views of the Happy Share or its members. The designations employed in this publication and the
            presentation of material therein do not imply the expression of any opinion whatsoever on the part of the
            Happy Share concerning the legal status of any country, area or its authorities, or concerning the
            delimitation of its frontiers.</p>
        <p>Moreover, the information shared in the platform online may be vulnerable to errors, omissions lawsuits and
            may contain misleading information. Users must not regard and rely on the information provided in the
            platform as the absolute and true
            piece of information. If any of the member suffer any damages due to the incorrect information provided
            here, Happy
            Share do not bear any responsibility and has no liability in any case.</p>


        <h3 id="corrections">Corrections</h3>
        <p>As the information provided in this platform is not official or certificated either, there may be inforamtion
            on the site that contains typographical errors, inaccuracies, or omissions, including descriptions, post
            details, pricing, and various other information. We reserve the right to correct any errors, inaccuracies,
            or omissions and to change or update the information on the site at any time, without prior notice.</p>

        <h3 id="term&terminations">Term and Terminations</h3>
        <p>We may terminate or suspend your account (and/or any account Happy Share determines are related to your
            account) and your access rights to the services should we have reason to believe you, your content, or your
            use of the services violate our terms. If we do so, it's important to understand that you don't have a
            contractual or legal right to continue to use our service. Generally, Happy Share will notify you that your
            account has been terminated or suspended, unless you've repeatedly violated our Terms or we have legal or
            regulatory reasons preventing us from notifying you.</p>
        <p>The Terms will remains in effect even after your access to the service is terminated, or you use of the
            service ends.</p>

        <h3 id="ProhibitedActivity">Prohibited Activities</h3>
        <p>There are several activities that are strictly prohibited in our platform. They include but not limited to:
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 290px;">Activity</th>
                    <th scope="col">Penalty</th>
                    <th scope="col">Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>offensive username</td>
                    <td>Remove corresponding username/ terminate the user account if repeatedly violate this term</td>
                    <td>The primary purpose of user names is to identify and distinguish contributors. This facilitates
                        communication and record-keeping. The user name is not a forum to be offensive or make a
                        statement. No one has a right to any particular user name.</td>
                </tr>
                <tr>
                    <td>hate speech/ violence/ discrimination</td>
                    <td>Remove corresponding post/ deduct credit score of related users or even suspend thier account
                        for serious case.</td>
                    <td>Any hateful conduct should never be tolerated in Happy Share platform. Every member in our
                        platform should have a safe and user-friendly environment to freely chat with each other without
                        any bias, violence and discrimination.</td>
                </tr>
                <tr>
                    <td>misinformation</td>
                    <td>Remove corresponding post/ deduct credit score of related users or even suspend thier account
                        for serious case.</td>
                    <td>All material provided by the user should be able to fact check and certificate its accuracy,
                        credit and attribution. Any suspicious incorrect info/detail is not allow to spread in our
                        platform.</td>
                </tr>
                <tr>
                    <td>other activities that we think it violate the terms</td>
                    <td>Depends on the severity</td>
                    <td>In order to keep clean and user-friendly environment of our platform, we will actively examine
                        the information provided by the users and check if it violate the terms and conditions.</td>
                </tr>
            </tbody>
        </table>


        <h3 id="modification&interruption">Modifications and Interruptions</h3>
        <p>We reserve the right to change, modify, or remove the content of the site at any time or for any reason at
            our sole discretion without prior notice. However, we have no obligation to update any information on our
            site. We also reserve the right to modify or discontinue all or part of the site without notice at any time.
            We will not be liable to you or any third party for any modification.</p>
        <p>We cannot guarantee the site will be available at all times. We may experience hardware, software, or other
            problems or need to perform maintenance related to the site, resulting in interruptions, delays, or errors.
            We reserve the right to change, revise, update, suspend, discontinue, or otherwise modify the site at any
            time or for any reason without notice to you. User of our platform agree that we have no liability
            whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the site during
            any downtime or discontinuance of the site. </p>

        <h3 id="privacyPolicy">Privacy Policy</h3>
        <p>For our privacy policy, please refer to <a href="/policy" style="color: rgb(28, 7, 214);">this page</a>.</p>


        <br><br>

    </div>
</body>