<head>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:400+700);

        body {
            background: #f1f1f1;
            font-family: Roboto;
        }

        h1 {
            text-align: center;
            color: #0E756E;
        }

        .chart {
            font-family: Roboto;
            position: relative;
            min-height: 300px;
            margin: 30px auto 0;
            display: block;
            border: 1px solid #ccc;
            background: rgba(0, 0, 0, 0.1);
            box-shadow: 0 0px 4px 1px #ccc;
        }

        .chart .skills {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .chart .skills li {
            text-align: right;
            font-size: 18px;
            margin: 5px 0px;
            color: #333;
        }

        .chart li {
            list-style: none;
            flex: 1;
            position: relative;
            margin: 1% 0px;
        }

        .chart .bars {
            display: flex;
            flex-direction: column;
            position: absolute;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .chart .bars .bar {
            position: absolute;
            height: 100%;
            width: 0px;
            background: #15A197;
            display: block;
            overflow: hidden;
        }

        .chart .bars .bar:hover {
            background: #0E756E;
        }


        .chart .bars .perc {
            color: #f1f1f1;
            position: absolute;
            right: 10px;
            top: 25%;
        }

        @media only screen and (max-width: 800px) {
            .chart {
                width: 100%;
            }

            .skills {
                width: 20%;
            }

            .bars {
                width: 75%;
                left: 25%;
            }

        }

        @media only screen and (min-width: 800px) {
            .chart {
                width: 90%;
            }

            .skills {
                width: 13%;
            }

            .bars {
                width: 85%;
                left: 15%;
            }
        }

        @media only screen and (min-width: 1300px) {
            .chart {
                width: 70%;
                max-width: 1000px;
            }

            .skills {
                width: 13%;
            }

            .bars {
                width: 85%;
                left: 15%;
            }
        }

        @media only screen and (max-width: 500px) {
            .chart {
                width: 100%;
            }

            .skills {
                width: 30%;
            }

            .bars {
                width: 65%;
                left: 35%;
            }
        }
    </style>
</head>

<body>



    <div class="chart">
        <div class="skills"></div>
        <div class="bars"></div>
    </div>



</body>

<script>
    $(function () {
        //list of skills
        var skills = {
            'Food & Drink': '77',
            Electronic: '56',
            Clothing: '31',
            Necessity: '62',
            Any: '88'

        };

        displayData(skills);
        animate();
    });


    //Functions
    //display data
    function displayData(skills) {
        $('.bars').html('');
        $('.skills').html('');
        for (var key in skills) {
            $('.skills').append("<li><span>" + key + "</span></li>");
            $('.bars').append("<li><div data-percentage='" + skills[key] + "' class='bar'></div></li>");
        };
    }


    //animate the data
    function animate() {
        $('.bar').css('width', '0px');
        $(".bars .bar").each(function (i) {
            var percentage = $(this).data('percentage');

            $(this).delay(i + "00").animate({ 'width': percentage + '%' }, 700);
            $(this).html($(this).html() + "<div class='perc'>" + percentage + "</div>");
        });
    }
</script>