<head>

</head>

<body>
    <button class="btn btn-warning" onclick="send()">Send email</button>
</body>

<script>
    async function send() {

        var r = await fetch('/send/email/welcome', { method: 'POST' });

        if (r.ok) {
            alert("OK!")
        } else {
            alert("Fail!");
        }
    }
</script>