<head>
    <title>
        Load more bootstrap Example
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        

        .flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        h2 {
            font-weight: bold;
            margin-bottom: 2.5rem;
            color: #aaa;
            text-align: center;
            font-size: 30px;
            margin-top: 1.5rem;
            font-weight: 1000;
        }

        p {
            font-weight: bold;
            margin-bottom: 2.5rem;
            color: #aaa;
            text-align: center;
            font-size: 20px;
            margin-top: 1.5rem;
            font-weight: 1000;
        }

        h3 {
            font-weight: bold;
            margin-bottom: 2.5rem;
            color: #aaa;
            text-align: center;
            font-size: 30px;
            margin-top: 1.5rem;
            font-weight: 1000;
        }

        .content {
            height: 100px;
            width: 45%;
            color: #fff;
            font-size: 24px;
            line-height: 100px;
            /* centering text just for view */
            text-align: center;
            background-color: grey;
            margin: 5px;
            border: 1px solid lightgrey;
            display: none;
        }

        #loadMore {
            width: 200px;
            color: #fff;
            display: block;
            text-align: center;
            margin: 20px auto;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid transparent;
            background-color: blue;
            transition: .3s;
        }

        .noContent {
            color: #000 !important;
            background-color: transparent !important;
            pointer-events: none;
        }

        #loadMore {
            text-align: center;
            font-size: 1.5em;
            color: #fff;
            letter-spacing: -5px;
            font-weight: 700;
            text-transform: uppercase;
            animation: blur .25s ease-out;
            text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
        }

        @keyframes blur {
            from {
                text-shadow: 0px 0px 10px #fff,
                    0px 0px 10px #fff,
                    0px 0px 25px #fff,
                    0px 0px 25px #fff,
                    0px 0px 25px #fff,
                    0px 0px 25px #fff,
                    0px 0px 25px #fff,
                    0px 0px 25px #fff,
                    0px 0px 50px #fff,
                    0px 0px 50px #fff,
                    0px 0px 50px #7B96B8,
                    0px 0px 150px #7B96B8,
                    0px 10px 100px #7B96B8,
                    0px 10px 100px #7B96B8,
                    0px 10px 100px #7B96B8,
                    0px 10px 100px #7B96B8,
                    0px -10px 100px #7B96B8,
                    0px -10px 100px #7B96B8;
            }
        }
    </style>
</head>

<body>
    
    <div class="container">
        <div class="flex">
            <div class="content"> <a href="#"> Content 1 </a> </div>
            <div class="content"> <a href="#"> Content 2 </a> </div>
            <div class="content"> <a href="#"> Content 3 </a> </div>
            <div class="content"> <a href="#"> Content 4 </a> </div>
            <div class="content"> <a href="#"> Content 5 </a> </div>
            <div class="content"> <a href="#"> Content 6 </a> </div>
            <div class="content"> <a href="#"> Content 7 </a> </div>
            <div class="content"> <a href="#"> Content 8 </a> </div>
            <div class="content"> <a href="#"> Content 9 </a> </div>
            <div class="content"> <a href="#"> Content 10 </a> </div>
            <div class="content"> <a href="#"> Content 11 </a> </div>
            <div class="content"> <a href="#"> Content 12 </a> </div>
            <div class="content"> <a href="#"> Content 13 </a> </div>
            <div class="content"> <a href="#"> Content 14 </a> </div>
            <div class="content"> <a href="#"> Content 15 </a> </div>
            <div class="content"> <a href="#"> Content 16 </a> </div>
        </div>
        <a href="#" id="loadMore"> Load More </a>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
<script>
    $(document).ready(function () {
        $(".content").slice(0, 4).show();
        $("#loadMore").on("click", function (e) {
            e.preventDefault();
            $(".content:hidden").slice(0, 4).slideDown();
            if ($(".content:hidden").length == 0) {
                $("#loadMore").text("No Content").addClass("noContent");
            }
        });
    })  
</script>