<p>Dear <%= name %>,</p>
<br />
<p>Your member account of HappyShare:)&#174; is currently being banned. It might happen because you have violate the terms and
    conditions in HappyShare:)&#174; platform. If you have any enquiries, feel free to <a href="https://happyshare2022.herokuapp.com/policy#contactUs">contact us.</a></p>

<p><small>
        <%= date %>
    </small></p>
<a href="http://happyshare2022.herokuapp.com/login">Visit HappyShare:)&#174;</a>

<br />
<br />
<p><b>HappyShare:)&#174;</b></p>
<hr>
<p>
    <small>
        <b>**Do not reply to this email address. This message is primarily serve the purpose of notification only.</b>
    </small>
</p>