<p>Dear <%= name %>,</p>
<br />
<p>The post you current hosting is full of members! Deal with your buddies as soon as possible before it is expired!</p>
<p>Post Title: <b><%= title %></b> | Post ID: <b><%= id %></b></p>
<p><small><%= date %></small></p>
<a href="https://happyshare2022.herokuapp.com/login">Click this link to login to HappyShare:)</a>

<br />
<br />
<p><b>HappyShare:)&#174;</b></p>
<hr>
<p>
    <small>
        <b>**Do not reply to this email address. This message is primarily serve the purpose of notification only.</b>
    </small>
</p>