<p>Dear <%=Name%>,</p>
<br />
<p>Thank you for SignUp.</p>

<br />
<p><b>HappyShare:)&#174;</b></p>
<hr>
<p>
    <small>
        <b>**Do not reply to this email address. This message is primarily serve the purpose of notification only.</b>
    </small>
</p>